    * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

li,
a,
button {
    color: white;
    text-decoration: none;
    list-style-type: none;
}

header {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    padding: 25px;
}

.nav-links li {
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
}

.logo {
    width: 5%;
    height: auto;
}

.Project-image-box {
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
}

.PinkGoose {
    width: 600px;
    height: 345px;
    border-radius: 40px;
    border: 2px solid;
}

.Mastermind {
    width: 600px;
    height: 345px;
    border-radius: 40px;
    border: 2px solid;

}

.title-box {
    display: flex;
    justify-content: space-around;
    font-size: 200%;
    margin-top: 0.5%;
}

.text-box {
    display: flex;
    justify-content: space-around;
}

.PinkGoose-text {
    font-size: 150%;
    width: 600px;
}

.Mastermind-text {
    font-size: 150%;
    width: 600px;
}